<div id= "artist">
    <img id= "artist-img" src= {{this.images.[0].url}}>
    <h2>{{this.name}}</h2>
    <form action= "/albums-results" method= "GET">
        <button type="submit" name="artist-id" value={{this.id}}>View albums</button>
    </form>
</div>