<div id="background-image">
    <img src="/public/images/spotify-background.jpeg">
    <div id= "background-search">
        <form id= "search-bar" action= "/artist-search" method= "GET">
            <input type="text" name='artist-name'>
            <input id="button" type="submit" value="Search for an Artist">
        </form>
    </div>
</div>